.Main-menu {
  background: linear-gradient(#363636, black);
  background-color: black;
  height: 50px;
  padding: 10px;
  color: black;
}

.Main-menu > div {
    width: 100%;
    float: right;
    margin: auto;
    text-align: center;
}

.Main-menu > div > h1 {
    display: inline-block;
    line-height: 40px;
    margin: auto;
    margin-bottom: 10%;
    margin-left: 14%;
    margin-bottom: 10%;
}

#main-logo {
  height: 55px;
  width: 270px;
  padding-top: -15px;
}

.Main-menu .Social {
    margin-left: -10px;
    padding-right: 40px;
    display: inline-block;
    padding-top: 7px;
    float: right;
}

.Main-menu img {
  height: 30px;
  width: 30px;
  outline: none;
}

.dropdown {
    display: inline-block;
}

.dropdown__content {
    display: none;
    position: absolute;
}

.dropdown--active .dropdown__content {
    display: block;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
}

.App-intro {
  font-size: large;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
